.padding_limit_width {
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (max-width: 1280px) {
    .padding_limit_width {
        padding-left: 3%;
        padding-right: 3%;
    }
}