.categorie-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
    .categorie-list {
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .categorie-list {
        gap: 10px;
    }
}