@import url(./blocks/navigation-block/navigation-block.css);
@import url(./blocks/navigation/__list/navigation__list.css);
@import url(./blocks/navigation/__list/_position/novigation__list_position_footer.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header-links/header-links.css);
@import url(./blocks/header-link/header-link.css);
@import url(./blocks/header-link/__name/header-link__name.css);

@import url(./blocks/logo/logo.css);
@import url(./blocks/logo/__img/logo__img.css);

@import url(./blocks/contacts/contacts.css);
@import url(./blocks/contacts/_position/contacts_position_page.css);
@import url(./blocks/contacts/__button/contacts__button.css);
@import url(./blocks/contacts/__text/contacts__text.css);
@import url(./blocks/contacts/__form/contacts__form.css);
@import url(./blocks/contacts/__input/contacts__input.css);
@import url(./blocks/contacts/__input/_type/contacts__input_type_textarea.css);

@import url(./blocks/search-form/search-form.css);
@import url(./blocks/search-form/__input/search-form__input.css);

@import url(./blocks/block-call-back/block-call-back.css);
@import url(./blocks/block-call-back/__number/block-call-back__number.css);
@import url(./blocks/block-call-back/__button/block-call-back__button.css);
@import url(./blocks/block-call-back/_position/block-call-back__position_footer.css);
@import url(./blocks/block-call-back/__button/_position/block-call-back__button_position_footer.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__title/page__title.css);
@import url(./blocks/page/__auth/page__auth.css);

@import url(./blocks/pages-nav/pages-nav.css);
@import url(./blocks/pages-nav/__link/pages-nav__link.css);
@import url(./blocks/pages-nav/__link/_active/pages-nav__link_active.css);

@import url(./blocks/info-block/info-block.css);
@import url(./blocks/info-block/__basic/info-block__basic.css);
@import url(./blocks/info-block/__basic/_background/info-block__basic_background_active.css);
@import url(./blocks/info-block/__basic/_border/info-block__basic_border_active.css);
@import url(./blocks/info-block/__title/info-block__title.css);
@import url(./blocks/info-block/__title/_width/info-block__title_width_full.css);
@import url(./blocks/info-block/__title/_hight/info-block__title_hight_full.css);
@import url(./blocks/info-block/__brends/info-block__brends.css);
@import url(./blocks/info-block/__brend/info-block__brend.css);
@import url(./blocks/info-block/__contact/info-block__contact.css);

@import url(./blocks/location/location.css);
@import url(./blocks/location/__link/location__link.css);

@import url(./blocks/news-list/news-lost.css);
@import url(./blocks/news-card/news-card.css);
@import url(./blocks/news-card/__button/news-card__button.css);
@import url(./blocks/news-card/__info/news-card__info.css);
@import url(./blocks/news-card/__img/news-card__img.css);

@import url(./blocks/brend-card/brend-card.css);

@import url(./blocks/form-auth/form-auth.css);
@import url(./blocks/form-auth/__inputs-block/form-auth__inputs-block.css);
@import url(./blocks/form-auth/__label/form-auth__label.css);
@import url(./blocks/form-auth/__input/form-auth__input.css);
@import url(./blocks/form-auth/__error/form-auth__error.css);
@import url(./blocks/form-auth/__button/form-auth__button.css);
@import url(./blocks/form-auth/__text/form-auth__text.css);
@import url(./blocks/form-auth/__link/form-auth__link.css);

@import url(./blocks/form-profile/form-profile.css);
@import url(./blocks/form-profile/__button-block/form-profile__buttons-block.css);

@import url(./blocks/categorie-list/categorie-list.css);
@import url(./blocks/categorie-block/categorie-block.css);
@import url(./blocks/categorie-block/__img/categorie-block__img.css);

@import url(./blocks/category-list/category-list.css);

@import url(./blocks/likes-list/likes-list.css);
@import url(./blocks/order-popup/order-popup.css);

@import url(./blocks/like-item/like-item.css);
@import url(./blocks/like-item/__button/like-item__button.css);
@import url(./blocks/like-item/__img/like-item__img.css);
@import url(./blocks/like-item/__info/like-item__info.css);
@import url(./blocks/like-item/_type/like-item_type_popup.css);

@import url(./blocks/products/products.css);
@import url(./blocks/products/__displayed/products__displayed.css);
@import url(./blocks/products/__list/products__list.css);

@import url(./blocks/product/product.css);
@import url(./blocks/product/__img/product__img.css);
@import url(./blocks/product/__info/product__info.css);
@import url(./blocks/product/__popup/product__popup.css);
@import url(./blocks/product/__buttons/product__buttons.css);
@import url(./blocks/product/basket-block/product__basket-block.css);

@import url(./blocks/adress-block/adress-block.css);
@import url(./blocks/adress-block/__adresses/adress-block__adresses.css);
@import url(./blocks/adress-block/__list/adress-block__list.css);
@import url(./blocks/adress/adress.css);

@import url(./blocks/order-list/order-list.css);
@import url(./blocks/order/order.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);

@import url(./blocks/not-found/not-found.css);
@import url(./blocks/not-found/__link/not-found__link.css);
@import url(./blocks/not-found/__text/not-found__text.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_warning.css);
@import url(./blocks/popup/_type/popup_type_promo.css);
@import url(./blocks/popup/_type/popup_type_call-back.css);
@import url(./blocks/popup/_type/popup_type_success-pay.css);
@import url(./blocks/popup/_type/popup_type_pay-one-click.css);
@import url(./blocks/popup/_show/popup_show_active.css);
@import url(./blocks/popup/__wrap/popup__wrap.css);
@import url(./blocks/popup/__children/popup__children.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);

@import url(./blocks/mailing-form/mailing-form.css);
@import url(./blocks/mailing-form/__input/mailing-form__input.css);
@import url(./blocks/mailing-form/__button/mailing-form__button.css);

@import url(./blocks/payment-mathods/__list/payment-methods__list.css);
@import url(./blocks/socials/__title/socials__title.css);
@import url(./blocks/socials/__list/socials__list.css);

@import url(./blocks/padding/_none/padding_none.css);
@import url(./blocks/padding/_limit/padding_limit_width.css);

@import url(./blocks/margin/_none/margin_none.css);

@import url(./blocks/background/_color/background_color_gray.css);
@import url(./blocks/background/_color/background_color_blue.css);
@import url(./blocks/background/_none/background_none.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/_color/button_color_yellow.css);
@import url(./blocks/button/_width/button_width_narrow.css);
@import url(./blocks/button/__basket/button__basket.css);
@import url(./blocks/button/__more/button__more.css);

@import url(./blocks/list-style/list-style_none.css);
@import url(./blocks/text-decoration/text-decoration.css);

@import url(./blocks/counter/counter.css);
@import url(./blocks/counter/__button/counter__button.css);
@import url(./blocks/counter/__button/_type/counter__button_type_left.css);
@import url(./blocks/counter/__button/_type/counter__button_type_riht.css);
@import url(./blocks/counter/__num/counter__num.css);

body {
  max-width: 2080px;
  margin: 0 auto 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
