@import url(./blocks/navigation-block/navigation-block.css);
@import url(./blocks/navigation/__list/navigation__list.css);
@import url(./blocks/navigation/__list/_position/novigation__list_position_footer.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header-links/header-links.css);
@import url(./blocks/header-link/header-link.css);
@import url(./blocks/header-link/__name/header-link__name.css);

@import url(./blocks/logo/logo.css);

@import url(./blocks/contacts/contacts.css);

@import url(./blocks/search-form/search-form.css);
@import url(./blocks/search-form/__input/search-form__input.css);

@import url(./blocks/block-call-back/block-call-back.css);
@import url(./blocks/block-call-back/__number/block-call-back__number.css);
@import url(./blocks/block-call-back/__button/block-call-back__button.css);
@import url(./blocks/block-call-back/_position/block-call-back__position_footer.css);
@import url(./blocks/block-call-back/__button/_position/block-call-back__button_position_footer.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__title/page__title.css);
@import url(./blocks/pages-nav/pages-nav.css);
@import url(./blocks/pages-nav/__link/pages-nav__link.css);
@import url(./blocks/pages-nav/__link/_active/pages-nav__link_active.css);

@import url(./blocks/info-block/info-block.css);
@import url(./blocks/info-block/__basic/info-block__basic.css);
@import url(./blocks/info-block/__basic/_background/info-block__basic_background_active.css);
@import url(./blocks/info-block/__basic/_border/info-block__basic_border_active.css);
@import url(./blocks/info-block/__title/info-block__title.css);
@import url(./blocks/info-block/__title/_width/info-block__title_width_full.css);
@import url(./blocks/info-block/__title/_hight/info-block__title_hight_full.css);
@import url(./blocks/info-block/__brends/info-block__brends.css);
@import url(./blocks/info-block/__brend/info-block__brend.css);

@import url(./blocks/location/location.css);
@import url(./blocks/location/__link/location__link.css);

@import url(./blocks/news-list/news-lost.css);
@import url(./blocks/news-card/news-card.css);
@import url(./blocks/news-card/__button/news-card__button.css);
@import url(./blocks/news-card/__info/news-card__info.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/mailing-form/mailing-form.css);
@import url(./blocks/mailing-form/__input/mailing-form__input.css);
@import url(./blocks/mailing-form/__button/mailing-form__button.css);

@import url(./blocks/payment-mathods/__list/payment-methods__list.css);
@import url(./blocks/socials/__title/socials__title.css);
@import url(./blocks/socials/__list/socials__list.css);

@import url(./blocks/padding/_none/padding_none.css);
@import url(./blocks/padding/_limit/padding_limit_width.css);

@import url(./blocks/margin/_none/margin_none.css);

@import url(./blocks/background/_color/background_color_gray.css);
@import url(./blocks/background/_color/background_color_blue.css);
@import url(./blocks/background/_none/background_none.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/_color/button_color_yellow.css);
@import url(./blocks/button/_width/button_width_narrow.css);

@import url(./blocks/list-style/list-style_none.css);

body {
  max-width: 2080px;
  margin: 0 auto 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
