.popup_type_call-back {
    left: 35vw;
}

@media screen and (max-width: 1100px) {
    .popup_type_call-back {
        left: 25vw;
    }
}

@media screen and (max-width: 800px) {
    .popup_type_call-back {
        left: 15vw;
    }
}

@media screen and (max-width: 560px) {
    .popup_type_call-back {
        left: 5vw;
    }
}